@import "tailwindcss";

@theme {
  --color-background: #F2F2F2;
  --color-foreground: #401D10;

  --color-primary: #BF815E;
  --color-primary-foreground: #F2F2F2;

  --color-muted: #D9C6B0;
  --color-muted-foreground: #735134;

  --color-border: #D9C6B0;
  --color-ring: #BF815E;

  --color-error: #f9031e;
  --color-alert: #ffd966;
  --color-disable: #c0c0c0;

    /* Fontes */
  --font-family-serif: var(--font-domine), serif;
  --font-family-sans: var(--font-comfortaa), cursive;
}

.dark {
  /* Cores */
  --color-background: #401D10;
  --color-foreground: #F2F2F2;

  --color-muted: #735134;
  --color-muted-foreground: #D9C6B0;

  --color-border: #735134;
  --color-ring: #D9C6B0;

}
