@import "tailwindcss";

@theme {
  /* Definição de Cores (Design Tokens) */
  --color-brand-50: #f0f9ff;
  --color-brand-500: #0ea5e9;
  --color-brand-900: #0c4a6e;

  /* Sobrescrevendo ou adicionando fontes */
  --font-sans: "Inter", ui-sans-serif, system-ui;

  /* Adicionando Border Radius customizado */
  --radius-xl: 1rem;
  --radius-2xl: 1.5rem;
}

/* Camada Base (Antigo @layer base) */
@layer base {
  :root {
    --background: #ffffff;
    --foreground: #020817;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
  }
}