name: "CI (Integração Continua) : Primeira Action"

on:
  # Runs on pushes targeting the default branch
  push:
    branches: 
      -main

jobs:
  # Build job
    exemplo:
       runs-on: ubuntu-latest
       steps:
        - uses: actions/checkout@v4
          
        - name: Run a one-line script    
          run: echo Hello, world!